@using UniversityManagementSystemApp.Models


@{
    ViewBag.Title = "ViewAllDepartment";

}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <fieldset>
        <legend>View All Department</legend>
        <table border="1" style="margin: 0px auto; text-align: center">

            <caption></caption>

            <tr style="background-color: gainsboro">
                <th style="padding: 10px; text-align: center">Code</th>
                <th style="padding: 10px; text-align: center">Name</th>
            </tr>

            @foreach (Department aDepartment in ViewBag.allDepartment)
            {
                <tr>
                    <td style="padding: 10px">@aDepartment.DeptCode</td>
                    <td style="padding: 10px">@aDepartment.DeptName</td>
                </tr>
            }

        </table>
    </fieldset>

</body>
</html>

